

@media screen and (min-width: 768px) {
	#img1{
		width: 80%;
		margin-left: 50px
		padding-right: 60px;
		float: right;
		margin-right: 58px;
	}
	#content{
		height: 1200px;
	
	}
	#crap{
		margin-top: 75px;
		padding-top: 50px;
	}	
	#contact{
		float: right;
		height: 30%;
		margin-top: -980px;
	}
}



@media screen and (max-width: 768px) and (min-width: 480px) {

#content{
	height: 100%;
}
#aboutme{
	width: 80%
}
#crap {
	
	width: 75%;
	text-align: center;
}
#contact{
	margin-top: 200px;
	clear: both;
	width: 80%;
	margin-bottom: 50px;
	margin-right: 35px;
}

#name{
	width: 100%;
	margin-left: -10px;
	
}
#link{
	width: 100%;

}
